<footer class="py-5 bg-[var(--bg-main)] text-teal-50 text-center">

    <p>look at social media sites</p>
    <ul class=" rounded-lg flex justify-center gap-x-3  py-3 ">
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/mostafa-elameer-dx/">
                <img class="img-icon" src="./assets/images/icons/linkedin.svg" alt="dsdsd">
            </a>
        </li>


        <li>
            <a target="_blank" href="https://github.com/Mostafa-Elameer">
                <img class="img-icon" src="./assets/images/icons/githupn.svg" alt="dsdsd">
            </a>
        </li>

        <li>
            <a target="_blank" href="https://web.facebook.com/Elkhwaga300">
                <img class="img-icon" src="./assets/images/icons/facebook.svg" alt="dsdsd">
            </a>
        </li>


        <li>
            <a target="_blank" href="https://www.instagram.com/mostafa_elameer_dx/">
                <img class="img-icon" src="./assets/images/icons/instagram.svg" alt="dsdsd">
            </a>
        </li>

        <li>
            <a target="_blank" href="https://wa.me/201156314031">
                <img class="img-icon" src="./assets/images/icons/whatsapp.svg" alt="dsdsd">
            </a>
        </li>
    </ul>
</footer>