<section class=" w-10/12 mx-auto mt-16    pb-28 md:py-16 overflow-hidden spicleheight ">

    <div class="pt-2 md:backdrop:pb-10  md:absolute left-5 z-30">
        <h2 class="Special-heading text-4xl md:text-7xl">Contact</h2>
        <p class="text">Contact Me </p>
    </div>

    <div class=" container flex items-center justify-center mt-10 ">
        <div class="grid grid-cols-12 shadow-sm py-1 items-center justify-center gap-4 md:gap-y-5">
            <div class="myimg mx-auto  col-span-12 md:col-span-4  md:w-10/12 ">
                <img class="w-72 md:w-96 rounded-full block border-4  border-[var(--bg-secoond)] animate__animated  animate__tada"
                    src="./assets/images/myImge.jpg" alt="">
            </div>
            <div
                class="articl p-4 md:p-14  col-span-12  md:col-span-8 bg-[var(--bg-secoond)] rounded-xl text-white animate__animated  animate__backInRight">
                <h2 class="text-2xl md:text-4xl">Hello dear :</h2>
                <p class="py-4 text-lg ">Send me a message in a way that suits you and I will contact you
                </p>

                <ul class=" rounded-lg flex justify-center gap-x-3  py-3 bg-[var(--bg-therd)]">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/mostafa-elameer-dx/">
                            <img class="img-icon" src="./assets/images/icons/linkedin.svg" alt="icons">
                        </a>
                    </li>


                    <li>
                        <a target="_blank" href="https://github.com/Mostafa-Elameer">
                            <img class="img-icon" src="./assets/images/icons/githupn.svg" alt="icons">
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://wa.me/201156314031">
                            <img class="img-icon" src="./assets/images/icons/whatsapp.svg" alt="icons">
                        </a>
                    </li>


                    <li>
                        <a target="_blank" href="mailto:mostafaelameer300@gmail.com">
                            <img class="img-icon" src="./assets/images/icons/gmail.svg" alt="icons">
                        </a>
                    </li>


                    <!-- <li>
                        <a target="_blank" href="https://www.instagram.com/mostafa_elameer_dx/">
                            <img class="img-icon" src="./assets/images/icons/pdf.svg" alt="icons">
                        </a>
                    </li> -->

                </ul>
            </div>
        </div>

    </div>

</section>