<section class=" w-10/12 mx-auto mt-16 md:mt-0   pb-0  md:py-16 overflow-hidden  ">

    <div class="pt-2 md:pt-12 md:absolute left-5 z-30 mb-14">
        <h2 class="Special-heading text-4xl md:text-7xl">ABOUT</h2>
        <p class="text">BUSINESS LIST</p>
    </div>

    <div class=" container flex items-center justify-center ">
        <div class="grid grid-cols-12 shadow-sm py-1 items-center justify-center gap-x-2 md:gap-y-5">
            <div
                class="articl p-4 md:p-14  col-span-12  md:col-span-8 bg-[var(--bg-secoond)] rounded-xl text-white animate__animated  animate__backInRight">
                <h2 class="text-2xl md:text-4xl">W O R K E X P E R I E N C E</h2>
                <hr class="pt-2">
                <h3 class="py-1 font-bold">Accountant at Grand trust Company :</h3>
                <p>- Managed daily financial transactions and records secure.</p>
                <p>- Prepared financial statements and reports</p>
                <h3 class="py-2 font-bold">Data Entry at Military service :</h3>
                <p>- Handled Customer inquiries and provided solutions.</p>
                <p>- Entered and maintained customer data with high accuracy</p>
                <p>- Developed secure data entry systems</p>
            </div>

            <div class="myimg mx-auto  col-span-12 md:col-span-4 p-14   md:w-10/12 ">
                <img class="md:min-w-min md:max-h-[620px] rounded-full block md:pe-16 md:pt-16 md:pb-16 border-4  border-[var(--bg-secoond)] animate__animated  animate__tada"
                    src="./assets/images/myImge.jpg" alt="">
            </div>



        </div>

    </div>

</section>



@defer (on viewport(viewport)) {
<section class="softskills pb-0">

    <div class="py-5 shadow-sm bg-[var(--bg-therd)] w-10/12 mx-auto my-5 rounded-2xl">
        <h2 class="Special-heading text-4xl md:text-7xl ">MySkillS</h2>
        <p>Personal & Technical</p>
    </div>

    <div class="container grid  md:grid-cols-2 grid-cols-1 gap-6 w-10/12 mx-auto overflow-hidden">
        <div class=" cardskills  bg-[var(--bg-secoond)] rounded-xl p-10 animate__animated animate__fadeInRightBig">
            <h4 class="text-2xl py-1 font-bold">Personal skills :</h4>
            <hr>
            <ul>
                <li>Communication </li>
                <li>Negotiation </li>
                <li>Continuous Learning </li>
                <li>Creativity</li>
                <li>Attention to Detail </li>
                <li>Teamwork </li>
                <li>Leadership </li>
                <li>Time Management </li>
            </ul>
        </div>

        <div class=" cardskills bg-[var(--bg-secoond)] rounded-xl p-10 animate__animated  animate__fadeInLeftBig ">
            <h4 class="text-2xl py-1 font-bold">Technical skills :</h4>
            <hr>
            <ul>
                <li>HTML3 & HTML5 </li>
                <li>CSS3 & SASS</li>
                <li>Bootstrap & Tailwind css </li>
                <li>JavaScript </li>
                <li>TypeScript </li>
                <li>Angular </li>
                <li>Data Structure </li>
                <li> Database Management </li>
                <li>C++ </li>

            </ul>

        </div>

    </div>




    <div class="w-10/12 mx-auto  cardskills  bg-[var(--bg-secoond)] rounded-xl  my-6  ">

        <div class="py-5 shadow-sm  bg-[var(--bg-therd)]">
            <h2 class=" text-4xl md:text-7xl">COURSES</h2>
            <p class="text hidden md:block">I have over a year of experience with the techniques below.</p>
        </div>

        <div class="p-4 md:p-8">
            <ul>
                <li>Programming fundamentals diploma by Route IT </li>
                <li>Frontend Development Diploma (Route IT Course, 2024) </li>
                <li>Web Design Course (Alec Center, 2022) </li>
                <li>Photoshop Program (Alec Center, 2022) </li>
                <li>Advanced CSS and Sass (Udemy) </li>
                <li>Figma Tutorials: The Ultimate Crash Course (Route) </li>
                <li>Digital marketing basics (Google , 2022) </li>
            </ul>
        </div>
    </div>

</section>
}
<button class="mt-40" #viewport></button>